#masthead {
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: pink;
	background: red;
	border-bottom: 2px solid #ccc;
}

.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear:both;
}
nav{
	margin-top: 25px;
	margin-top: 25px;

}

nav a{
display: inline-block;
padding-left: 15;
margin-left: 15px;
line-height: 18px;
color: #ccc;
text-decoration: none;
border-left: 1px solid gray;
}

nav:first child{
	border-left: 0 none;
}

#main-0container {
	padding-top: 130px;
}

.main-section {
	float: left;
	width: 100%;
	max-width: 650px;
	padding: 30px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd
}

.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 25px;
}

.sidebar {
	float: right;
	width: 100px;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;
	background: red;
	border: 1px solid red;
}

h3, .sidebar h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid red;
}

.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}

